<footer class="p-4 bg-gray-100 mt-24 shadow md:px-6 md:py-8">
    <span class="block text-sm text-gray-500 sm:text-center"><a href="https://timely.onrender.com" class="hover:underline">Timely</a>
    is open source and licensed under <a href="http://creativecommons.org" class="hover:underline">MIT</a> and code hosted on
    <a href="http://creativecommons.org/licenses/" class="hover:underline">Github</a>
    </span>
</footer>
