<div class="media">
  <div class="content">
    <p>
      <strong><%= report.maintainer %></strong>
    </p>
  </div>

  <%  link_to 'Delete', [report.service, report],
      method: :delete, class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer", data: { confirm: 'Are you sure?' } %>
</div>
